div#redirect-loader {
  @apply flex flex-col gap-5 justify-center items-center h-screen bg-[#0a3b5c] text-white;

  h1 {
    @apply text-xl;
  }

  @keyframes spinner-y0fdc1 {
    0% {
      transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
    }

    50% {
      transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
    }

    100% {
      transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
    }
  }
}
